{{#partial "title" }}


    Ma3z


{{/partial}}


{{#partial "content"}}

    <body>
    <marquee behavior="scroll" direction="left"><img src="/images/matatu.gif" width="154" height="78" alt="matatu">
        <h9 class="h2 text-center text-danger" style="font-family: 'Girassol', cursive;"><strong> Kanairo Ma3z</strong></h9><img src="/images/matatu.gif" width="154" height="78" alt="matatu"> </marquee>
    <div>


    </div>


    </body>

    </html>





{{/partial}}

{{> layout.hbs}}